.SassComponent {
  display: flex;
  background: $oc-gray-2;
  @include media('<768px'){
    background:$oc-gray-9;
  }
  .box {
    background:red;
    cursor: pointer;
    transition: all .2s ease-in;
    &.red {
      background:$red;
      @include square(1);
    }
    &.orange {
      background:$orange;
      @include square(2);
    }
    &.yellow {
      background:$yellow;
      @include square(3);
    }
    &.green {
      background:$green;
      @include square(4);
    }
    &.blue {
      background:$blue;
      @include square(5);
    }
    &.indigo {
      background:$indigo;
      @include square(6);
    }
    &.violet {
      background:$violet;
      @include square(7);
    }
    &:hover {
      background:black;
    }
  }
}

